#example-1 {
  color: rgb(243, 255, 220);
  background-color: crimson;
  width: 200px;
  /* height: 100px; */
  border: 8px dotted rgb(43, 226, 226);
  border-radius: 20px;
  padding: 25px;
  margin: 30px;
}

h1 {
  color: chartreuse;
  background-color: cyan;
  width: 300px;
  border: 10px solid coral;
  border-radius: 10px;
  padding: 40px;
  margin: 30px;
}

main {
  color: rgb(141, 80, 255);
  background-color: cornflowerblue;
  width: 200px;
  border: 8px dashed crimson;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

address {
  color: darkgoldenrod;
  background-color: darkgreen;
  width: 300px;
  border: 6px dotted burlywood;
  border-radius: 2px;
  padding: 20px;
  margin: 10px;
}

h2 {
  color: cadetblue;
  background-color: darkolivegreen;
  width: 100px;
  border: 10px solid brown;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}

section {
  color: azure;
  background-color: black;
  width: 500px;
  border: 15px dotted darkred;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}

ul {
  color: rgb(124, 47, 99);
  background-color: rgb(207, 181, 114);
  width: 70px;
  border: 8px dashed rgb(0, 34, 50);
  border-radius: 4px;
  padding: 15px;
  margin: 100px;
}

dd {
  color: darkolivegreen;
  background-color: lightgreen;
  width: 500px;
  height: 50px;
  border: 8px solid rgb(80, 44, 44);
  border-radius: 2px;
  padding: 25px;
  margin: 50px;
}

pre {
  color: black;
  background-color: chocolate;
  width: 250px;
  height: 50px;
  border: 9px dotted lightyellow;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
}

nav {
  color: crimson;
  background-color: cyan;
  width: 300px;
  border: 60px dashed lightsalmon;
  border-radius: 50px;
  padding: 60px;
  margin: 90px;
}

footer {
  color: darkmagenta;
  background-color: darkorange;
  width: 50px;
  border: 20px dashed gainsboro;
  border-radius: 15px;
  padding: 70px;
  margin: 15px;
}

address {
  color: rgba(117, 57, 22, 0.966);
  background-color: darkseagreen;
  width: 400px ;
  border: 10px dotted rgb(23, 92, 17);
  border-radius: 30px;
  padding: 25px;
  margin: 100px;
}

aside {
  color: rgb(15, 155, 101);
  background-color: rgb(0, 255, 179);
  height: 55px;
  border: 20px dotted rgb(255, 217, 0);
  border-radius: 15px;
  padding: 25px;
  margin: 200px;
}

header {
  color: chartreuse;
  background-color: darkgreen;
  width: 120px;
  border: 10px dotted burlywood;
  border-radius: 60px;
  padding: 20px;
  margin: 15px;
}

figure {
  color: rgb(54, 15, 90);
  background-color: rgb(31, 182, 182);
  height: 18px;
  border: 3px solid fuchsia;
  border-radius: 30px;
  padding: 10px;
  margin: 50px;
}

div {
  color: darkmagenta;
  background-color: darkred;
  width: 60px;
  border: 6px dashed darksalmon;
  border-radius: 40px;
  padding: 15px;
  margin: 20px;
}


